<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Donut Devourer</title>
		<meta charset="UTF-8">
		<!--Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
		<!--Stylesheets -->
		<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/skeleton.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}

	<!-- Add in jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/donutAppStatic.js"></script>
	</body>
</html>
