<h1>Eat the donut</h1>
<div class="donuts-new">
  <h2>donuts to Try: </h2>
    <ul>
      {{#each donuts}}
        {{#unless devoured}}
          <li>
            {{donut_name}}
            <button type="button" class="devour-it" data-id="{{this.id}}">Devour It</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    <h2> Devoured donuts </h2>
      {{#each donuts}}
        {{#if devoured}}
          <li>
            {{donut_name}}
          </li>
        {{/if}}
      {{/each}}
    <form class="add-donut" action="index.html" method="post">
      <label for="new-donut-name">New donut Name:</label>
      <input type="text" id="donutName">
      <button type="button" id="submit">Add donut</button>
    </form>
</div>
